<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../static/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">

    <title>Lakers Fan Page</title>
  </head>
<body>
    
    <div class="title"> Los Angeles Lakers Fan Page </div> 
<form action="/login" method="POST">
    
        <img src="backend-server/images/lebron.jpg"> 
    

    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <h1>Login</h1>
            </div>

            <div class="login-form">
                <div class="control-group">
                    <input type="text" class="login-field" value="" placeholder="username" name="username">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="control-group">
                    <input type="password" class="login-field" value="" placeholder="password" name="password">
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>
                    <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
            </div>
        </div>
    </div>
</form>
</body>
</html>
